*{
    margin: 0;
    padding: 0;
}
body, html {
    margin: 0;
    padding: 0;
    transition: all ease-in-out 0.3s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: all ease-in-out 0.3s;
}
a:hover {
    text-decoration: none;
}
/* ======================== Navbar Css ==================== */
.main {
    width: 100%;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.dabos-logo {
    position: relative;
}
.dabos-logo img {
    width: 210px;
    height: auto;
}
.menu-toggle {
    position: relative;
    right: 15px;
}
.top-navbar {
    width: 100%;
    position: absolute;
    top: 0;
    background: transparent;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;  
    z-index: 2;
}
.menu-toggle .bars {
    width: 60px;
    height: 1px;
    margin: 10px 0;
    background: #fff;
}
.side-navbar {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.side-navbar ul li a {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.side-navbar ul li {
    list-style: none;
    padding: 10px 0;
    text-align: center;
}
.close-sidebar {
    position: absolute;
    right: 50px;
    top: 50px;
    text-decoration: none;
}
.close-sidebar a {
    font-size: 28px;
    color: #fff;
    font-family: sans-serif;
}
.hero {
    width: 100%;
    /* padding: 110px 0; */
}
.hero-main {
    width: 85%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.track-text {
    padding-top: 40px;
}
.track-text h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}
.track-text p {
    font-size: 25px;
    color: #fff;
}
.track-input {
    display: inline-flex;
    padding: 7px 0;
}
.track-input input {
    width: 320px;
    padding: 10px;
}
.track-input input:focus {
    outline: 0;
}
.track-item {
    display: flex;
}
.btn.btn-lookup {
    min-width: 150px;
    background: #AEC90B;
    color: #fff;
    border-radius: 0;
    font-size: 16px;
    padding: 10px 15px;
    margin-left: 8px;
    font-weight: 600;
}
/* ================ Status Section Css ================== */
.map {
    width: 100%;
    height: 100%;
}
.status-inner {
    width: 85%;
    margin: auto;
    padding: 50px 0;
}
.status-inner p {
    font-size: 32px;
    color: #fff;
    font-weight: 400;
}
.status-inner p strong {
    font-size: 40px;
}
.status-right-side {
    background: #fff;
    padding: 25px 15px;
}
.status-right-text {
    padding-bottom: 20px;
}
.status-right-side .status-right-text:nth-child(2) {
    padding-bottom: 40px;
}
.status-right-text h3 {
    font-size: 20px;
    color: #000;
    font-weight: 600;
}
.status-right-text p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
}
.track-btn-row {
    padding-top: 150px;
}
.track-num-btn {
    width: 100%;
    padding: 10px 10px;
    background: #AEC90B;
    color: #fff;
    border: 0;
    font-weight: 700;
    font-size: 22px;
}
.track-order-main {
    width: 85%;
    margin: auto;
    padding: 50px 0;
}
.track-order-main .track-item {
    flex-direction: column;
}
.track-order-main .btn.btn-lookup {
    margin-left: 0;
    margin-top: 22px;
    width: 90px;
}
/* ================ Hero Section Css =================== */
.footer {
    background: #1a1a1a;
    height: 80px;
    text-align: center;
    padding: 10px 0;
}
.footer p {
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0px;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    color: #ffffff;
    margin-bottom: 0;
}
.footer a {
    color: #ffffff;
}

@media only screen and (max-width: 599px) {
    .top-navbar {
        padding: 40px 30px;
    }
    .side-navbar ul li a {
        font-size: 13px;
    }
    .dabos-logo img {
        width: 120px;
    }
    .menu-toggle .bars {
        width: 44px;
    }
    .menu-toggle {
        margin-top: -4px;
    }
    .track-text h1 {
        font-size: 40px;
    }
    .track-input input {
        width: 280px;
    }
    .track-text p {
        font-size: 18px;
    }
    .track-item {
        display: flex;
        flex-direction: column;
    }
    .btn.btn-lookup {
        width: 100px;
        margin-left: 0;
        margin-top: 20px;
    }
    .status-right-side {
        margin-top: 40px;
    }    
    .status-inner p strong {
        font-size: 30px;
    }
    .status-inner p {
        font-size: 24px;
    }
    .status-right-text h3 {
        font-size: 18px;
    }
    .status-right-text p {
        font-size: 16px;
    }
    .track-num-btn {
        font-weight: 600;
        font-size: 18px;
    }
    .footer p {
        font-size: 12px;
    }
} 